/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
		
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.font-70 {
		font-size: 4.375em;
	}
	.font-50 {
		font-size: 3.125em;
	}
	.font-40 {
		font-size: 2.500em;
	}
	.font-30 {
		font-size: 1.875em;
	}
	.font-28 {
		font-size: 1.750em
	}
	.font-24 {
		font-size: 1.500em;
	}
	.font-20 {
		font-size: 1.250em;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}
	.alignnone, img.alignnone {
		display: block;
		clear: both;			
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	
}