/*
 * WordPress default post styles
 * These styles deal with the dynamic content added
 * to the WordPress editor by the end user. The aim 
 * is to make sure that any type of alignment will
 * sit well on the page. Don't forget that these will
 * also need mobile styling. Do this is _mobile.scss
 */
.entry-content img {
	margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft, 
.alignright, img.alignright, 
.aligncenter, img.aligncenter, 
.alignnone, img.alignnone {
	margin-right: 1em auto;
	display: block;
	float: none;
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption {
	img {
		border: 0 none;
		padding: 0;
		margin: 0;
	}
	p.wp-caption-text {
		line-height: 1.5;
		font-size: 10px;
		margin: 0;
	}
}

